<mat-spinner [diameter]="30" class="m-auto" *ngIf="isLoadingCategoriesAndLocations"></mat-spinner>

<div class="sl-dashboardbox__content" *ngIf="!isLoadingCategoriesAndLocations">
    <form class="sl-form sl-manageServices" [formGroup]="slotsForm">
        <fieldset>
            <div class="sl-form__wrap">
                <mat-form-field appearance="outline">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="categoryId" (selectionChange)="loadSlots()">
                        <mat-option value="{{category.categoryId}}" *ngFor="let category of categories">{{category.categoryName}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Location</mat-label>
                    <mat-select formControlName="district" (selectionChange)="loadSlots()">
                        <mat-option value="{{location.district}}" *ngFor="let location of locations">{{location.district}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </fieldset>
        <div class="sl-dashboardbox">
            <div class="sl-dashboardbox__title">
                <h2>Select Date Slots</h2>
            </div>
            <br>
            <!-- fxLayoutAlign="space-between center" -->
            <mat-spinner [diameter]="30" class="mt-2 m-auto" *ngIf="isLoadingSlots"></mat-spinner>
            <div class="slot-container" fxLayout="row wrap" fxLayoutAlign="space-between center">
                <div class="date-slot" fxFlex="33" *ngFor="let slot of slots">
                    <input type="checkbox" id="{{slot.slotId}}" [disabled]="slot.slotStatus != 'AVAILABLE'" (change)="toggleSlot($event,slot)">
                    <label fxFlex [class.booked]="slot.slotStatus != 'AVAILABLE'" for="{{slot.slotId}}" [matTooltip]="(slot.slotStatus != 'AVAILABLE')?'already booked':'available'">
                        <span class="label-slot">{{getBeautifiedDate(slot.startingDate)}} to {{getBeautifiedDate(slot.endingDate)}}</span>
                        <span class="label-price">&#8377;&nbsp;{{slot.price}}</span>
                    </label>
                </div>
            </div>
        </div>
        <br>
        <h4 *ngIf="totalAmount !=0">Total <strong>&#8377;&nbsp;{{totalAmount}}</strong></h4>
        <br>
        <div class="d-inline-block" matRipple [matRippleColor]="color" *ngIf="totalAmount !=0">
            <button class="btn sl-btn sl-btn-outline" [disabled]="isBooking" (click)="bookSlots()">Book</button>
        </div>
    </form>
</div>