<!-- Preloader Start -->
<div class="preloader-outer">
    <div class="sl-preloader-holder">
        <img src="assets/images/loader.png" alt="loader img">
        <div class="sl-loader"></div>
    </div>
</div>
<!-- Preloader End -->

<app-header *ngIf="!isFullPage"></app-header>

<!-- MAIN START -->
<main class="sl-main" [class.sl-register-main]="isFullPage">
    <div class="sl-main-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xl-3" *ngIf="!isFullPage">
                    <app-aside></app-aside>
                </div>
                <div [class.col-lg-8]="!isFullPage" [class.col-xl-9]="!isFullPage" [class.col-12]="isFullPage">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- MAIN END -->


<app-footer *ngIf="!isFullPage"></app-footer>