<h1 mat-dialog-title>Are you sure you want to report this requirement?</h1>
<mat-dialog-content class="mat-typography">
    <div class="form-group">
        <textarea class="form-control sl-form-control" [formControl]="reason" type="text" placeholder="Reason*"></textarea>
    </div>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <mat-spinner [diameter]="30" class="m-auto mt-3" *ngIf="isReporting"></mat-spinner>
    <div matRipple [matRippleColor]="color" *ngIf="!isReporting">
        <button mat-button mat-dialog-close class="btn sl-btn sl-btn-active" [mat-dialog-close]="false">No</button>
    </div>
    <div matRipple [matRippleColor]="color" *ngIf="!isReporting">
        <button mat-button (click)="reportRequirement()" class="btn sl-btn sl-btn-outline">Yes</button>
    </div>
</mat-dialog-actions>