<h1 mat-dialog-title>Enter registered email to send new password</h1>
<mat-dialog-content class="mat-typography">
    <div class="form-group">
        <input class="form-control sl-form-control" [formControl]="email" type="text" placeholder="Email*">
    </div>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <mat-spinner [diameter]="30" class="m-auto mt-3" *ngIf="isProcessing"></mat-spinner>
    <div matRipple [matRippleColor]="color" *ngIf="!isProcessing">
        <button mat-button mat-dialog-close class="btn sl-btn sl-btn-active" [mat-dialog-close]="false">Cancel</button>
    </div>
    <div matRipple [matRippleColor]="color" *ngIf="!isProcessing">
        <button mat-button (click)="forgot()" class="btn sl-btn sl-btn-outline">Send</button>
    </div>
</mat-dialog-actions>